My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {},
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -432,
        -96
      ],
      "id": "b94d47a1-8b3e-4d16-8eef-56f5ae19b145",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://newsapi.org/v2/everything?q=Montenegro&from=2026-04-15&sortBy=publishedAt&apiKey=55b2b2d106374be987b1c18fef07f84d",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -112,
        -32
      ],
      "id": "cf100835-302b-4c44-9719-dbfa1851cbdb",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "fcf06b48-8b2c-4b1b-984d-123bbd1dd801",
              "leftValue": "={{ $json.articles[0].publishedAt }}",
              "rightValue": "={{ $json.articles[3].publishedAt }}",
              "operator": {
                "type": "dateTime",
                "operation": "afterOrEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        96,
        -32
      ],
      "id": "95712bbf-e93a-4a8a-9be2-d3131805821e",
      "name": "Filter"
    },
    {
      "parameters": {
        "path": "e7c0fb8b-fe2a-4a2e-9a89-941d94d35c41",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -432,
        96
      ],
      "id": "a7339203-178e-4ccc-b473-9af106d5f686",
      "name": "Webhook",
      "webhookId": "e7c0fb8b-fe2a-4a2e-9a89-941d94d35c41"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d565937c-ffa6-497c-965a-fbe30695b8a1",
              "leftValue": "={{ $json.articles[0].description }}",
              "rightValue": "Balkan",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        304,
        -32
      ],
      "id": "5bdd13ec-0b59-4ed6-bf82-8dfed9fdfbfb",
      "name": "If"
    },
    {
      "parameters": {
        "sendTo": "xeningem@gmail.com",
        "subject": "=news about Balkans!!! {{ $json.articles[0].source.name }}",
        "message": "={{ $json.articles[0].description }}\n\n{{ $json.articles[0].url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        496,
        -144
      ],
      "id": "d3ed36e0-b37e-407a-81cb-cd5e3acaacf6",
      "name": "Send a message",
      "webhookId": "fa0f04bc-464c-4c4a-b7f9-a42a65e06ebc",
      "credentials": {
        "gmailOAuth2": {
          "id": "GajyYSIiI3dhwdtq",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "xeningem@gmail.com",
        "subject": "=Not mention keyword {{ $json.articles[0].source.name }}",
        "message": "={{ $json.articles[0].description }}\n\n{{ $json.articles[0].url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        512,
        16
      ],
      "id": "e4144139-a2e6-4d59-ad3f-9ad2b05177a6",
      "name": "Send a message1",
      "webhookId": "fa0f04bc-464c-4c4a-b7f9-a42a65e06ebc",
      "credentials": {
        "gmailOAuth2": {
          "id": "GajyYSIiI3dhwdtq",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        -416,
        368
      ],
      "id": "4092e19c-5763-4ed3-afa7-97429473aa78",
      "name": "Error Trigger"
    },
    {
      "parameters": {
        "sendTo": "xeningem@gmail.com",
        "subject": "Error in n8n",
        "message": "=Error, check logs\n\n{{ $json.execution.url }}\n\n{{ $json.execution.error.message }}\n\n{{ $json.execution.error.stack }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -96,
        304
      ],
      "id": "db68bfbc-72aa-47ca-ad9a-e43a55b7cfdc",
      "name": "Send a message2",
      "webhookId": "c7d33086-c375-49ce-b9ae-0249a8309d44",
      "credentials": {
        "gmailOAuth2": {
          "id": "GajyYSIiI3dhwdtq",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1dbh33GWoNbvrEW9rUz-1rYozytse7FzwyzLQF8B2mOE",
          "mode": "list",
          "cachedResultName": "n88 errors",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dbh33GWoNbvrEW9rUz-1rYozytse7FzwyzLQF8B2mOE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Лист1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dbh33GWoNbvrEW9rUz-1rYozytse7FzwyzLQF8B2mOE/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "workflow": "={{ $json.workflow.name }}",
            "id": "={{ $json.execution.id }}",
            "url": "={{ $json.execution.url }}",
            "description": "={{ $json.execution.error.message }}"
          },
          "matchingColumns": [
            "test"
          ],
          "schema": [
            {
              "id": "workflow",
              "displayName": "workflow",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -96,
        512
      ],
      "id": "c036cbfd-c903-4f50-aac8-c377435eec66",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "B2XXEGodSz9p42kM",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {
    "Schedule Trigger": [
      {
        "json": {
          "name": "First item",
          "code": 1
        }
      },
      {
        "json": {
          "name": "Second item",
          "code": 2
        }
      }
    ]
  },
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Send a message2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "76794070-ea50-4c06-aa2a-d2aade0b56f3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6e3b1c6dc227135093f9042c4d49b1d802f7f617749d203da1f96ef21ed1606e"
  },
  "id": "oFjClsXz6LY4gph6",
  "tags": []
}